body{
 
    margin: 0px;
    padding: 0px;
    background:#95a5a6;
} 
.form-area{

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
   height: 500px;
   box-sizing: border-box;
   background: #2c3e50;
   padding: 40px;

} 

.btn{
   
   position: absolute;
   top: 76%;
   left: 27%;
   height: 40px;
   width: 190px;
   background: #f39c12;
}

h2{

   margin: 0px;
   padding: 0 0 20px;
   font-weight: bold;
   color:#ffffff;
}

.form-area p{

   margin: 0px;
   padding: 0px;
   font-weight: bold;
   color:#ffffff;
}

.form-area input,select{

   margin-bottom: 20px;
   width: 100%;

}


